body {
  background-color: black;
}

header {
  position: fixed;
  width: 100%;
  }

#blog-articles {
  margin-top: 30%;
}

ul {
  margin-bottom: 0%;
  text-align: center;
  padding-bottom: 0%;
}

article {
  background-color: #e6e6e6;
  padding: 1rem;
  margin: 2rem;
}

li {
    display: inline;
    list-style-type: none;
    padding: 2rem;
    background-color: black;
    color: white;
    text-align: center;
    }

form {
      text-align: center;
    }

@media (min-width: 1000px) {
  article {
    width: 43%;
    float:left;
  }

  #blog-articles {
    margin-top: 20%;
  }
};
